/*-- configurações Gerais--*/
head, body{
    justify-content: center;
    align-items: center;
    margin-left: 25%;
    margin-right: 25%;
    
    
    background-color: rgb(31, 28, 28);
    color: white;
    
}
p, ol, dd, li, label{
  color: rebeccapurple;
}
h1, dt, h4{
  color: aqua;
}
h2, abbr, h3{
  color: red;
}

/* -- Fim das Configurações Gerais -- */

/*-- Estilização Lista --*/
th, td {
  border: 0.5px solid white;
  padding: 8px 10px;
}

th[scope='col'] {
  background-color:darkturquoise;
  color: #0c0b0b;
}

th[scope='row'] {
  background-color: rgb(0, 108, 209);
}

td{
  align-items: center;
}

tr {
  background-color:darkgreen;
}

table {
  border-collapse: collapse;
  border-radius: 15px;
  font-family: sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px;
  margin-left: 25%;
}

caption {
  caption-side: bottom;
  padding: 10px;
}
/*-- Final Estilização Tabela --*/

/*-- Classes e ID --*/
.titulos{
    text-align: center;
    text-decoration-line: underline;
    text-decoration-color: blueviolet;
    text-decoration-style: solid;
}

.linha-divisoria{
    color: blue;
}

.video{
    margin-left: 5%;
    border-radius: 10%;
    width: 560px;
    height: 315px;

    overflow: hidden;
    box-shadow: 0px 14px 18px rgba(255, 255, 1, 0.2);
    transition: box-shadow 0.3s ease-in-out;
  }
.video:hover{
  box-shadow: 0px,14px,18px rgba(255, 0, 0, 0.5);
}

.links, .links::after{
  color: coral;
}

.links::before, a:hover{
  color: crimson;
}

/*Essa é a estilização da barra de progresso da musica e do play*/
#audio-antigo{
  display: none;
}

.player{
  margin-top: 20px;
}

button.play{
  margin-left: 25%;
  margin-top: 10px;
  padding: 10px;
  
  
  border: none;
  border-radius: 25px;
  cursor: pointer;

  background-color: yellow;
  color: purple;

}

button.play:hover{
  background-color: red;
}

input[type="range"] {
  width: 50%;
  margin-top: 10px;
  margin-left: 25%;
  -webkit-appearance: none; /* Remove a aparência padrão do navegador */
  appearance: none; /* Remove a aparência padrão do navegador */
  background: rgb(228, 28, 138); /* Cor de fundo da barra */
  height: 5px; /* Altura da barra */
  border-radius: 5px; /* Bordas arredondadas */
  outline:rgba(255, 0, 0, 0.5); /* Remove o contorno */
  opacity: 0.7; /* Transparência */
  transition: red 0.2s; /* Transição suave */
}

input[type="range"]:hover {
  opacity: 1; /* Opacidade total ao passar o mouse */
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  cursor: pointer;
  background-color: coral;
  border-radius: 5px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Remove a aparência padrão do navegador */
  appearance: none; /* Remove a aparência padrão do navegador */
  width: 15px; /* Largura do polegar */
  height: 10px; /* Altura do polegar */
  background: #8a0303; /* Cor do polegar */
  border: 2px solid rgb(255, 255, 255); /* Borda do polegar */
  border-radius: 40%; /* Polegar arredondado */
  cursor: pointer; /* Cursor de ponteiro */
}

input[type="range"]::-moz-range-thumb {
  width: 15px; /* Largura do polegar */
  height: 10px; /* Altura do polegar */
  background: #fff; /* Cor do polegar */
  border: 2px solid blueviolet; /* Borda do polegar */
  border-radius: 40%; /* Polegar arredondado */
  cursor: pointer; /* Cursor de ponteiro */
}

.tempo{
  display: flex;
  justify-content: center;
  margin-top: 5px;
  font-size: 0.9rem;
  color: #fff;
}

#tempo-total{
  margin-left: 50%;
  color: #8a0303;
  font-family: 'Times New Roman', Times, serif;
}

#tempo-decorrido{
  margin-left: 20%;
  color: darkgreen;
  font-family: 'Times New Roman', Times, serif;
}
/*Fim da estilização da barra de progresso da musica e do play*/

.faix{
  text-align: center;
}

.meu_nome{
  background: linear-gradient(to right, purple, blue);
  border: 15px;
  border-color: rgb(0, 0, 0);
}

.status{
  background: linear-gradient(to left, purple, blue);
  border: 15px;
  border-color: #0c0b0b;
  color: aqua;
}

.imagem{
  border-radius: 50%;
}